<h1 mat-dialog-title>Insert description</h1>
<div mat-dialog-content>
  <mat-form-field class="text-area-size">
    <textarea matInput [(ngModel)]="data.row" placeholder="Description" matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=5 cdkFocusInitial></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions >
  <button mat-button [mat-dialog-close]="data">Insert</button>
</div>