<div>
  <mat-grid-list cols="5" rowHeight="130px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color"
      style="border-style: solid;border-width: thin;border-color:#BDBDBD;">
      <!-- <div style="position: absolute; left:5px; top:5px; width:100%"> -->
      <div style="width:100%;">
        <mat-toolbar style="background-color:#B2DFDB; color: #212121">
          <h3>{{tile.text}} </h3>
        </mat-toolbar>
        <div class="button-row" style="position: absolute; right:10px; top:10px">
          <a mat-mini-fab routerLink="." [class.disabled]="!this.data[tile.id].enable" style="background:#536DFE;">
            <i class="material-icons" (click)="insertData(tile.id,tile.text)" style="color:white;">
              add
            </i>
          </a>
        </div>
        <div class="body-tile" [ngStyle]="{ 'height':tile.style +'px'}">
          <mat-card *ngFor="let row of data[tile.id].rows" class="card-style">
            <mat-card-content>
              <p>
                {{row}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="deleteData(tile.id,row)">DELETE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div>
    <div style="background:#00796B; height:100px;">
      <div style="padding-top:10px">
        <a mat-button style="background:#B2DFDB;margin: 2px;" [href]="uri" download="lean_canvas.json">Export JSON</a>
        <!-- <button mat-button style="background:#B2DFDB;margin: 2px;">Import JSON</button> -->
      </div>
    </div>
  </div>

</div>