a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
    background: #D9DBF1 !important;
}
#element::-webkit-scrollbar { 
    display: none; 
}
.body-tile{
    overflow-y: auto;
    width: 100%;

}

.card-style
{
    border-style: solid;
    border-color: #BDBDBD;
    background: #B2DFDB;
    margin: 1%;
    margin-right: 4%;
}           

